<div class="loginpage">


  <div class="loginscreen">

    <div class="title-center">
      {{ 'Login'}}
    </div>
    <form #loginForm="ngForm" class="form-login">
      <div class="form-group">
        <input type="text"
               [attr.placeholder]="'Email'"
               name="email"
               title="Email"
               tabindex="1"
               class="lg"
               [(ngModel)]="user.email"
               required>
      </div>

      <div class="form-group">
        <input type="password"
               [attr.placeholder]="'Password'"
               name="password"
               title="Password"
               class="lg"
               tabindex="2"
               [(ngModel)]="user.password"
               required/>
      </div>

      <div class="login">
        <button class="btn btn-block btn-auth"
                (click)="login()">
          {{ 'Login' }}
        </button>
      </div>

      <div class="forgot-password text-center">
        <a [routerLink]="['/auth']">
          Forgot your password
        </a>
      </div>
    </form>
  </div>
</div>
