
.loginpage {
  width: 100%;
  height: 100vh;
  .loginscreen {
    padding: 214px 20px 30px 20px;
    .title-center {
      margin-top: 36px;
      text-align: center;
      font-size: 36px;
      line-height: 44px;
      color: white;
      font-weight: 600;

      img {
        width: auto;
        height: 100%;
      }
    }

    .form-login {
      margin-top: 10px;
      .server-error {
        color: rgba(255, 0, 0, 0.71);
      }

      .forgot-password {
        margin-top: 20px;

        a {
          color: white;
        }
      }
    }
    .form-group {
      margin-bottom: 20px;
      input {
        display: block;
        margin: 0 auto;
        width: 50%;
        padding: 10px;
      }
      .message-top {
      }

      &.remember-me {
        margin-bottom: 40px;
      }
    }

    .btn-auth {
      width: 100px;
      height: 30px;
      border: none;
    }
    .create-acc {
      margin-top: 130px;
      width: 100%;

      .switch-acc {
        padding: 10px 0;
        text-align: center;
      }
    }
  }
}

/*Responsive*/
@media screen and (min-width: 1024px) {
  .loginpage {
    .loginscreen {
      .create-acc {
        position: unset;
        margin-top: 140px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .loginpage {

    .loginscreen {
      padding: 214px 15px 70px 15px;
      max-width: 440px;
      margin: 0 auto;

      .title-center {

        img {
          width: 150px;
          height: 150px;
        }
      }

      .form-login {
        margin-top: 50px;

        .login {
          margin-top: 60px;
        }
      }

      .create-acc {
        max-width: 370px;
        margin: 0 auto;
        position: fixed;
        bottom: 70px;

        .switch-acc {
          margin: 0;
          display: inline;
          padding: 11px 0;
        }
      }
    }
  }
}
